.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 3%;
    background-color: black;
    border-bottom: 2px solid #2A7AE4;
    position: relative;
    z-index: 1;
}

.header__link {
    text-decoration: none;
    border: 1px solid #F5F5F5;
    color: #F5F5F5;
    font-size: 21px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 20px;
    border-radius: 4px;
}