.addvideo {
    background-color: #191919;
    height: auto;
    padding: 50px 3%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.form__title {
    margin: 0;
    color: #f5f5f5;
    font-weight: 400;
    font-size: 2rem;
}

.form textarea {
    resize: none;
}

.buttons__container {
    display: flex;
    gap: 40px;
}

.buttons__container .button:last-child {
    margin-left: auto;
}